<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Hello Component</div>

                    <div class="card-body">
                        I'm a hello world component.

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'MainPage',
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
